body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #222;
}
a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
    margin: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    height: 60px;
}

#left-nav {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin-left: 15px 5px;
}

#right-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

#sign-in {
    background-color: #1a73e8;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 9px 23px;
    margin: 0px 8px;
    cursor: pointer;  
    position: relative;
    bottom: 10px;
}

section {
    display: flex;
    justify-content: center;
}

.logo {
    display: block;
    position:relative;
    bottom: 10px;
}

form {
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    border: solid 1px gainsboro;
    border-radius: 25px;
    width: 580px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.input-container > input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.input-container > img {
    object-fit:none
}

#button-duo {
    border: none;
    margin: 20px 4px;
    padding: 10px 15px;
    border-radius: 4px;
    font-style: arial;
    background-color: #F8F9FA;
    font-size: 14px;
    cursor:pointer;
}

.input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    height: 60px;
    background-color: #F2F2F2;
    width: 100%;
    height: 35px;
    position:fixed;
    left:0%;
    bottom: 0%;
    font-size: 14px;
    
}

#left-footer {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin-left: 15px 5px;
}

#right-footer {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;

}

#left-footer > li {
    padding: 8px;
}

#right-footer > li {
    padding: 8px;
    margin-right: 20px;
}